DATABASE_URL="postgresql://user:password@host/dbname?sslmode=require"

BOT_TOKEN="123456789:AAExampleTokenStringHere"

ADMIN_PASSWORD="admin123"
JWT_SECRET="change_this_to_a_long_random_string_please"

WEBAPP_URL="http://localhost:5173"
ADMIN_URL="http://localhost:5174"

PORT=3000
TZ="Asia/Tashkent"

ALLOW_DEV_LOGIN="true"
